{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Welcome</h1>
    <p>As a new employee we want you to be successful in your work. We have developed several training tutorials and instructions to get you started. Welcome to the team!</p>

    <p><img src="https://www.ctsi.ufl.edu/files/2010/11/BW_CTSI-website-update_JSJ_JJ73655.jpg" alt="CTS-IT Employees" height="427" width="640"></p>

    <p>Our training program is continualy evolving as is the technology we work with so as new content is available we will publish to this repository and site for your continued education.  </p>
<br>
<br>
<hr>
<br>
<br>
    <h1>Command Line</h1>
    <p><strong>Introduction</strong></p>
    <p>The Linux operating system has been around for a number of decades and has roots going back to the dawn of the internet. Overtime many great tools have been developed that enable Linux computers to perform automated and complex procedures over and over again. There are many data tools that can ease the burden of data analysis and manipulation. Therefore, the majority of the systems we maintain at CTS-IT run Linux. Even the Mac laptops that we use have Linux underpinning in the OSX operating system. In this module you will learn about many essential Linux commands that enable us to do our jobs. The goal for this modulue is:
    <blockquote>
  <p>Increase employees' knowledge of Linux commands as it relates to the practice of data manipulation and sharing in health-related datasets.</p>
    </blockquote>
    <p>As some of you may already know some of the commands covered in this content we encourage additions to this training material.</p>
<br>
    <p><strong>Presentation</strong></p>
    <p>The concept of linux commands is introduced in a slide presentation called <a href="https://docs.google.com/presentation/d/1Jtw5P-ROheOylyhdnNCxVn1-7P-p6_IwtG1nlaSudyI/edit#slide=id.g35f391192_00" target="_blank">Linux Command Line Essentials</a>
<br>
<br>
<hr>
<br>
<br>
    <h2>Basic Commands</h2>

    <p><strong>Module Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Explain basic Linux commands and what they do</li>
      <li>Understand when basic Linux commands are used</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module introduces the basic commands used in Linux. These commands are redementary in nature and allow someone to navigate their computer, create and move directories, look at running processes or elevate rights.</p>

    <p>The basic commands that will be practiced are:
       <ul>
        <li>icd – Changes the current working directory in the command line console.</li>
        <li>exit – Exits out of the current program, terminates the current command line terminal, or logs you out of a Unix network depending on the context.</li>
        <li>kill – Terminates the specified running process. The Linux version of Windows’ “End Process” in the task manager.</li>
        <li>ls – List all of the contents of a specified directory. If no directory is specified, it will use the current directory.</li>
        <li>man – There’s a running gag in the Linux community that man is the only command you need to know. It stands for manual, and it will give you detailed information on commands and aspects of Linux.</li>
        <li>pwd – Displays the current working directory for the command line terminal. Good for when you’ve lost track of where you are in your system.</li>
        <li>reboot – Immediately stops all running processes, shuts down the system, then reboots.
        <li>shutdown – Stops all running processes and shuts down the system. Parameters can be specified to issue a delayed shutdown or a shutdown at a particular time.</li>
        <li>sudo – Runs commands as root, which means no limitations due to permissions.</li>
    </ul>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1hdr4bp6NqYSJCxwubZKOy7ZtYxLYHtbmtRsvRGFsifg/edit?usp=sharing" target="_blank">Gitflow Introduction Slides</a></li>
      <li><a href="https://github.com/ctsit/J.O.B.-Jump-On-Board/blob/gh-pages/git-gitflow-comparison.md" target="_blank">Gitflow and Git Command Comparison</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    
    <h2>System Information</h2>
    <p><strong>Module Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define how to fork a repository using Git</li>
      <li>Understand how to make a pull request</li>
      <li>Make a software release with gitflow</li>
    </ul>
    
    <p><strong>Module Description</strong></p>
    <p>This module guides the learner through the gitflow procedure to create a fork, create a feature, create a python program, create a pull request, review code and release software. </p>
    <p><strong>Module Materials</strong></p>

    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-1" target="_blank">Github Training Repository One</a></li>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-1/blob/master/git-flow-cheatsheet.md" target="_blank">Gitflow Step-by-step Guide</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    
    
    <h2>File Sharing</h2>
<p><strong>Module Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Utilize gitflow commands to make a feature branch</li>
      <li>Build confidence using commands using a guide</li>
      <li>Demonstrate knowledge of gitflow to make a release</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module will use the information and gitflow guide from the previous two modules. The goal is to follow the gitflow workflow to create a python program to sort a data file by last name alphabetically and then create a pull request in Github.</p> 
    <p>In this module, you will use the second of three training repositories on Github to create a program that sorts the phonebook.csv file using phonebook.py file. The phonebook.py file is a rudimentary python program that can be edited anyway you see fit. Please refer to the module materials to access the second training repository where you will perform your work.
  </p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-2" target="_blank">Github Training Repository Two</a></li>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-1/blob/master/git-flow-cheatsheet.md" target="_blank">Gitflow Step-by-step Guide</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>    
    <h2>Data Manipulation</h2>
    <p><strong>Module Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Define the role of a code moderator</li>
      <li>Understand the process for code reviews</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module will serve as a formal review of your work. It is intented to emulate the workflow performed at CTS-IT whereby the developer has code reviewed by a repository moderator in a step called a code review.</p><p>After you have completed module 3 you will organize time with your instructor to meet and review your code to accomplish the objectives in this module.</p>
    <p>Once the pull request is closed the instructor will guide you through a gitflow release of the software.</p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-2" target="_blank">Github Training Repository Two</a></li>
    </ul>

<h2>Quiz</h2>
<p><strong>Module Objectives</strong></p>
    <p>Upon completion of this module, you will be able to:</p>
    <ul>
      <li>Utilize gitflow commands to make a feature branch</li>
      <li>Build confidence using commands using a guide</li>
      <li>Demonstrate knowledge of gitflow to make a release</li>
    </ul>

    <p><strong>Module Description</strong></p>
    <p>This module will use the information and gitflow guide from the previous two modules. The goal is to follow the gitflow workflow to create a python program to sort a data file by last name alphabetically and then create a pull request in Github.</p> 
    <p>In this module, you will use the second of three training repositories on Github to create a program that sorts the phonebook.csv file using phonebook.py file. The phonebook.py file is a rudimentary python program that can be edited anyway you see fit. Please refer to the module materials to access the second training repository where you will perform your work.
  </p>

    <p><strong>Module Materials</strong></p>
    <ul>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-2" target="_blank">Github Training Repository Two</a></li>
      <li><a href="https://github.com/ctsit/J.O.B-Training-Repo-1/blob/master/git-flow-cheatsheet.md" target="_blank">Gitflow Step-by-step Guide</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>  

    </section>

	{{ content }}

{% include footer.html %}
