{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>Welcome</h1>
    <p>As a new employee we want you to be successful in your work. We have developed several training tutorials and instructions to get you started. Welcome to the team!</p>

    <p><img src="https://github.com/KevinHanson/J.O.B.-Jump-On-Board/raw/gh-pages/assets/images/ctsit.png" alt="CTS-IT Employees" height="343" width="640"></p>

    <p>Our training program is continualy evolving as is the technology we work with so as new content is available we will publish to this repository and site for your continued education.  </p>
<br>
<br>
<hr>
<br>
<br>
    <h1>Linux Commands</h1>
    <p><strong>Introduction</strong></p>
    <p>The Linux operating system has been around for a number of decades and has roots going back to the dawn of the internet. Overtime many great tools have been developed that enable Linux computers to perform automated and complex procedures over and over again. There are many data tools that can ease the burden of data analysis and manipulation. Therefore, the majority of the systems we maintain at CTS-IT run Linux. Even the Mac laptops that we use have Linux underpinning in the OSX operating system. In this module you will learn about many essential Linux commands that enable us to do our jobs. The goal for this modulue is:
    <blockquote>
  <p>Increase employees' knowledge of Linux commands as it relates to the practice of data manipulation and sharing in health-related datasets.</p>
    </blockquote>
    <p>This module is organized into six sections that focus on ever advancing concepts in Linux commands. Each section has an introduction and materials that lead to exercises for you to do online and at your own pace. At the conclusion of these exercises you will take an online assessment and finish your training in a face-to-face review with a team lead that will give you a chance to ask questions and cement your understanding of the commands you have just practiced.</p>
<br>
    <p><strong>Presentation</strong></p>
    <p>The concept of linux commands is introduced in a face to face session guided by the slide presentation called <a href="https://docs.google.com/presentation/d/1Jtw5P-ROheOylyhdnNCxVn1-7P-p6_IwtG1nlaSudyI/edit#slide=id.g35f391192_00" target="_blank">Linux Command Line Essentials</a>.
<br>
<br>
<hr>
<br>
<br>
    <h2>File Commands</h2>

    <p><strong>Objectives</strong></p>
    <p>Upon completion of this section, you will be able to:</p>
    <ul>
      <li>Explain basic Linux commands and what they do</li>
      <li>Understand when basic Linux commands are used</li>
    </ul>

    <p><strong>Description</strong></p>
    <p>This section introduces the basic commands used in Linux. These commands are rudementary in nature and allow someone to navigate their computer, create and move directories, look at running processes or elevate rights.</p>

    <p>The basic commands that will be practiced are:
       <ul>
        <li>cd – Changes the current working directory in the command line console.</li>
        <li>exit – Exits out of the current program, terminates the current command line terminal, or logs you out of a Unix network depending on the context.</li>
        <li>ls – List all of the contents of a specified directory. If no directory is specified, it will use the current directory.</li>
        <li>man – There’s a running gag in the Linux community that man is the only command you need to know. It stands for manual, and it will give you detailed information on commands and aspects of Linux.</li>
        <li>pwd – Displays the current working directory for the command line terminal. Good for when you’ve lost track of where you are in your system.</li>
        <li>sudo – Runs commands as root, which means no limitations due to permissions.</li>
        <li>cat - Concatenate files and print on the standard output.</li>
    </ul>

    <p><strong>Materials</strong></p>
    <ul>
      <li><a href="https://github.com/KevinHanson/J.O.B-Training-Linux-1">Linux Commands Repository</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    
    <h2>System Commands</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this section, you will be able to:</p>
    <ul>
      <li>Explain Linux system information commands and what they do</li>
      <li>Understand when Linux system information commands are used</li>
    </ul>
    
    <p><strong>Description</strong></p>
    <p>This section introduces the system information commands used in Linux. These commands are simple but can be used in powerful ways. These commands allow someone to display their current computer name, display the current date and time and show how much disk space is available on the computer.</p>

        <p>The system information commands that will be practiced are:
       <ul>
        <li>date – Prints out the current system date and time. Specified parameters can change the format of the output.</li>
        <li>df – Reports the disk space usage for the file system.</li>
        <li>hostname – Displays the name of the current host system.</li>
        <li>top – Displays all of the top processes in the system, by default sorted by CPU usage.
        <li>uptime – Reports how long the system has been running since last boot. Extremely useful for servers.</li>
    </ul>

    <p><strong>Materials</strong></p>

    <ul>
        <li>Please click this link to begin the exercises for this section.<a href="https://github.com/KevinHanson/J.O.B-Training-Linux-1/blob/master/exercise2.md">Linux Commands Repository</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    
    
    <h2>File Handling</h2>
<p><strong>Objectives</strong></p>
    <p>Upon completion of this section, you will be able to:</p>
    <ul>
      <li>Explain Linux file handling commands and what they do</li>
      <li>Understand when Linux file handling commands are used</li>
    </ul>

    <p><strong>Description</strong></p>
    <p>This section introduces the file handling commands in the Linux operating system. These commands will allow you to create, remove, move, copy and edit files on your computer from the command line. These tools are used get files into a place where you can begin to work and analyze them for further work.
  </p>

<p>The file handling commands that will be practiced are:
       <ul>
        <li>cp – Copies files to a new location with a new name depending on the parameters. Can copy directories too, whether recursively (includes all subdirectories) or not.</li>
        <li>mkdir / rmdir – Creates a directory (mkdir) or deletes a specified directory (rmdir). Directories can only be created and deleted within directories that you have permission in.</li>
        <li>mv – Moves files and directories to another location. Can be used to rename files and directories by keep their source and destination locations the same.</li>
        <li>open – Opens a specified file using the default system application for files of its type.</li>
        <li>rm – Remove and remove directory. Used to delete files and directories from the system, whether one at a time or in batch.</li>
        <li>Touch - Create new empty files on the filesystem.</li>

    </ul>

    <p><strong>Materials</strong></p>
    <ul>
   <li>Please click this link to begin the exercises for this section. <a href="https://github.com/KevinHanson/J.O.B-Training-Linux-1/blob/master/exercise3.md">Linux Commands Repository</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>    
    <h2>Data Manipulation</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this section, you will be able to:</p>
    <ul>
      <li>Explain Linux data manipulation commands and what they do</li>
      <li>Understand when Linux data manipulation commands are used</li>
    </ul>

    <p><strong>Description</strong></p>
    <p>This section introduces the data manipulation commands which are used to filter, cut out, search and edit data. These commands are very critical to our work and help make work easier for transforming large datasets from one format to another.</p>

<p>The data manipulation commands that will be practiced are:
       <ul>
        <li>awk – The basic function of awk is to search files for lines (or other units of text) that contain certain patterns. </li>
        <li>cut – remove sections from each line of files</li>
        <li>nano – a small and friendly text editor.</li>
        <li>vim– a small and advanced text editor.</li>

    </ul>
    <p><strong>Materials</strong></p>
    <ul>
      <li>Please click this link to begin the exercises for this section. <a href="https://github.com/KevinHanson/J.O.B-Training-Linux-1/blob/master/exercise4.md" target="_blank">Linux Commands Repository</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
    <h2>Network Commands</h2>
    <p><strong>Objectives</strong></p>
    <p>Upon completion of this section, you will be able to:</p>
    <ul>
      <li>Explain Linux network commands and what they do</li>
      <li>Understand when Linux network commands are used</li>
    </ul>

    <p><strong>Description</strong></p>
    <p>This section introduces the network commands that are used to connect to servers, pull files from the internet, pull data from systems and copy files between servers. These commands are used often in our work and will be valuable for your success here.</p>
  
  <p>The network commands that will be practiced are:
       <ul>
        <li>wget – downloads files from the Internet at the specified URL to your system.</li>
        <li>rsync – a utility for efficiently transferring and synchronizing files across computer systems, by checking the timestamp and size of files. </li>
        <li>scp – allows files to be copied to, from, or between different hosts.</li>
        <li>curl – a tool to transfer data from or to a server, using one of the supported protocols (HTTP, HTTPS, FTP, FTPS, SCP, SFTP, TFTP, DICT, TELNET, LDAP or FILE). The command is designed to work without user interaction.</li>
        <li>ssh - is a secure protocol for remote logins.</li>

    </ul>

    <p><strong>Materials</strong></p>
    <ul>
      <li>Please click this link to begin the exercises for this section. <a href="hhttps://github.com/KevinHanson/J.O.B-Training-Linux-1/blob/master/exercise5.md" target="_blank">Linux Commands Repository</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>
<h2>Quiz</h2>
<p><strong>Objectives</strong></p>
    <p>Upon completion of this section, you will be able to:</p>
    <ul>
      <li>Build confidence with commands by using a guide</li>
      <li>Demonstrate knowledge of Linux Commands</li>
    </ul>

    <p><strong>Description</strong></p>
    <p>This quiz will serve as a formal review of your work. You will take an online assessment that tests your knowledge of Linux commands from the information presented in this module.</p>
    <br>
    <p>You will then assemble with your trainer to review your output files from your exercises in this module.</p>
    <br>
    <p>Click the Linux Commands Quiz link below to start the quiz. You can use the command reference guide for help.</p>

    <p><strong>Materials</strong></p>
    <ul>
      <li><a href="https://goo.gl/forms/sY84u9dHEm71OvCV2" target="_blank">Linux Commands Quiz</a></li>
      <li><a href="http://linoxide.com/guide/linux-cheat-sheet.png" target="_blank">Linux Commands Reference Guide</a></li>
    </ul>
<br>
<br>
<hr>
<br>
<br>  

    </section>

	{{ content }}

{% include footer.html %}
